@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>

    <h2>This is an example page for practing CSS</h2>

    <p class="small">Font size: Small</p>
    <p class="medium">Font size: Medium</p>
    <p class="large">Font size: Large</p>

    <br /> <br />

    <div class="row">
        <div class="red cols-sm">Font color: Red</div>
        <div class="blue cols-sm">Font color: Blue</div>
    </div>

    <br /> <br />

    <div class="row">
        <div class="col-sm">col-sm</div>
        <div class="col-sm">col-sm</div>
        <div class="col-sm">col-sm</div>
    </div>
    <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
    </div>

</main>